/*picture img{
    display:block;
    margin: 0 auto;
    padding: 5px;
}*/

picture img[data-src] {
    filter: blur(0.1em);
    display:block;
    margin: 0 auto;
    padding: 5px;
    
  }
  
  picture img {
    filter: blur(0.0em);
    transition: filter 0.5s;
    
  }